@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/*** some base definitions from https://piccalil.li/blog/a-modern-css-reset/ ***/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  color: black !important;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

#root {
  width: 100vw;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100vw;
  color: black;
  font-weight: 300;
}

.custom-btn {
  background: none;
  border: none;
  outline: unset;
  font-size: 11px;
  text-transform: uppercase;
  color: black;
}
.custom-btn:hover, .custom-btn:focus {
  border: none;
  outline: unset;
  font-size: 16px;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}

.lang-options {
  justify-content: flex-end;
  gap: 10px;
  font-size: 0.85vw;
  margin-top: 20px;
  padding: 0px 50px;
}
@media screen and (max-width: 500px) {
  .lang-options {
    font-size: 14px;
    gap: 30px;
    padding: 0px 30px;
    opacity: 0.5;
  }
}

.navbar-container {
  padding: 10px 50px;
  font-size: 1vw;
  align-items: center;
  justify-content: space-between;
}
.navbar-container #logo-img {
  width: 100px;
}
@media screen and (max-width: 500px) {
  .navbar-container .navbar-items {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .navbar-container {
    justify-content: center;
  }
}

.main-page-container {
  position: relative;
}

#main-page-img {
  filter: contrast(95%);
  opacity: 0.85;
}

.main-info-container {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  width: 50vw;
  height: 40vh;
  background-color: rgba(250, 223, 224, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1441px) {
  .main-info-container {
    height: 450px;
  }
}
@media screen and (max-width: 500px) {
  .main-info-container {
    width: 100vw;
  }
}

.ReactModalPortal {
  z-index: 2;
}

.react-multi-carousel-list {
  height: 70vh;
}

.h2-title {
  font-size: 1.75vw;
  padding: 0px 20px;
  text-align: center;
}
@media screen and (min-width: 2100px) {
  .h2-title {
    font-size: 48px;
  }
}
@media screen and (max-width: 500px) {
  .h2-title {
    font-size: 18px;
  }
}

.h3-title {
  font-weight: 500;
  font-size: 1.25vw;
  padding: 0px 20px;
  text-align: center;
}
@media screen and (min-width: 2100px) {
  .h3-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 500px) {
  .h3-title {
    font-size: 12px;
  }
}

#shop, #about-us {
  padding: 0px 50px;
  margin-top: 50px;
  min-height: 50vh;
}
@media screen and (max-width: 768px) {
  #shop, #about-us {
    padding: 0px 15px;
  }
}

#about-us {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #about-us {
    font-size: 12px;
  }
}

.about-us-text {
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  width: 80vw;
}
@media screen and (max-width: 1024px) {
  .about-us-text {
    max-width: 90vw;
    width: 90vw;
  }
}

#contacts {
  min-height: 200px;
  background-color: rgb(167, 134, 129);
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 80vw;
  width: 80vw;
}
@media screen and (max-width: 1024px) {
  .shop-items {
    justify-content: center;
    max-width: 90vw;
    width: 90vw;
  }
}

.shop-item {
  width: 20vw;
  height: 20vw;
  margin: 20px 40px;
  cursor: pointer;
  overflow-x: hidden;
}
.shop-item .shop-item-details {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  background-color: rgba(250, 223, 224, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: all 0.2s ease-in;
}
.shop-item img {
  width: 20vw;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .shop-item img {
    width: 60vw;
    height: 60vw;
  }
}
@media screen and (max-width: 1024px) {
  .shop-item {
    width: 60vw;
    height: 60vw;
  }
}

#shop ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}
#shop ul li {
  transition: all 0.2s ease-in;
}
#shop ul li:hover {
  opacity: 0.6;
}

#sizeSelect, #colorSelect, #emailInput, #phoneNumberInput, #usernameInput, #amountSelect {
  height: 25px;
}

#comments {
  height: 80px;
}

@media screen and (max-width: 768px) {
  #keywords {
    gap: 5px;
    margin-bottom: 20px;
  }
}

#keywords p:nth-child(even) {
  font-size: 21px;
  font-weight: 600;
  margin-top: 50px;
  color: rgb(250, 223, 224);
  font-style: italic;
}
@media screen and (max-width: 768px) {
  #keywords p:nth-child(even) {
    font-size: 14px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 575px) {
  #keywords p:nth-child(even) {
    font-size: 12px;
    margin-top: 0px;
  }
}

#keywords p:nth-child(odd) {
  font-size: 21px;
  font-weight: 600;
  color: rgb(167, 134, 129);
}
@media screen and (max-width: 768px) {
  #keywords p:nth-child(odd) {
    font-size: 14px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 575px) {
  #keywords p:nth-child(odd) {
    font-size: 12px;
    margin-top: 0px;
  }
}

.horizontal-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 10px;
  color: white;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .horizontal-title {
    font-size: 14px;
  }
}

.social-media-icon {
  width: 50px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .social-media-icon {
    width: 35px;
  }
}/*# sourceMappingURL=main.css.map */