@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600;700&display=swap");
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/*** some base definitions from https://piccalil.li/blog/a-modern-css-reset/ ***/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
label,
small,
.invalid-feedback {
  overflow: hidden;
}

a {
  color: white !important;
  cursor: pointer;
  overflow: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

#root {
  width: 100vw;
  background-color: white !important;
}

body {
  font-family: "Martel Sans", sans-serif;
  font-size: 16px;
  width: 100vw;
  color: black;
  font-weight: 300;
}

.custom-btn {
  background: none;
  border: none;
  outline: unset;
  font-size: 11px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  background-color: white;
  transition: all 0.15s ease-in-out;
}
.custom-btn:hover {
  background-color: rgb(20, 20, 20);
  color: white;
}
.custom-btn:focus {
  border: none;
  outline: unset;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1800px;
  margin: 0 auto;
}

.container-fade-in {
  animation: fade 1.25s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}
.lang-options {
  background-color: black;
  justify-content: flex-end;
  gap: 15px;
  font-size: 12px;
  padding: 0px 50px;
  padding-top: 10px;
}
@media screen and (max-width: 500px) {
  .lang-options {
    font-size: 14px;
    padding: 0px 30px;
    padding-top: 10px;
    gap: 30px;
  }
}

.navbar-container {
  padding: 10px 50px;
  font-size: 18px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
.navbar-container #logo-img {
  width: 450px;
}
.navbar-container .navbar-items {
  margin: 10px 0px;
}
@media screen and (max-width: 500px) {
  .navbar-container .navbar-items {
    display: none;
  }
}

.main-page-container {
  position: relative;
}

#main-page-img {
  filter: contrast(95%);
  filter: grayscale(100%);
  opacity: 0.85;
}

.main-info-container {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  width: 40vw;
  height: 35vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1441px) {
  .main-info-container {
    height: 450px;
  }
}
@media screen and (max-width: 500px) {
  .main-info-container {
    width: 100vw;
  }
}

.ReactModalPortal {
  z-index: 2;
}

.h2-title {
  font-size: 28px;
  padding: 0px 20px;
  text-align: center;
}
@media screen and (min-width: 2100px) {
  .h2-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 500px) {
  .h2-title {
    font-size: 18px;
  }
}

.h3-title {
  font-weight: 500;
  font-size: 18px;
  padding: 0px 20px;
  text-align: center;
}
@media screen and (min-width: 2100px) {
  .h3-title {
    font-size: 21px;
  }
}
@media screen and (max-width: 500px) {
  .h3-title {
    font-size: 12px;
  }
}

#shop, #about-us {
  margin-top: 50px;
  min-height: 50vh;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #shop, #about-us {
    padding: 0px 15px;
  }
}

#about-us {
  justify-content: center;
  font-size: 18px;
  padding: 30px 80px;
}
@media screen and (max-width: 768px) {
  #about-us {
    font-size: 14px;
    padding: 15px 30px;
  }
}

.about-us-text {
  align-items: center;
  justify-content: space-around;
}
.about-us-text .sentence {
  width: 100%;
  line-height: 30px;
  word-break: break-word;
  text-align: justify;
}

#keywords {
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 30px;
}
#keywords .keyword {
  font-size: 21px;
  font-weight: 600;
  color: rgb(250, 223, 224);
  font-style: italic;
}
@media screen and (max-width: 900px) {
  #keywords .keyword {
    font-size: 14px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 575px) {
  #keywords .keyword {
    font-size: 12px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  #keywords {
    gap: 30px;
  }
}
@media screen and (max-width: 575px) {
  #keywords {
    gap: 15px;
  }
}

#keywords p:nth-child(odd) {
  color: rgb(167, 134, 129);
}

#contacts {
  min-height: 200px;
  background-color: black;
}

#shop {
  padding: 0px 30px;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
  .shop-items {
    justify-content: center;
  }
}

.shop-item {
  cursor: pointer;
}
.shop-item img {
  margin-bottom: 10px;
}

.shop-item-description {
  text-align: "left";
  padding-left: "10px";
  text-transform: "uppercase";
  font-weight: "700";
}

#shop .slick-slide {
  opacity: 0.25;
  transition: all 0.15s ease-in-out;
}
#shop .slick-slide:hover {
  transform: scale(0.99);
}

#shop .slick-center {
  opacity: 1;
}

.slick-prev {
  left: 1% !important;
  z-index: 1;
}
.slick-prev:before {
  content: "‹" !important;
  font-size: 50px !important;
}

.slick-next {
  right: 1% !important;
  z-index: 1;
}
.slick-next:before {
  content: "›" !important;
  font-size: 50px !important;
}

#sizeSelect, #colorSelect, #emailInput, #phoneNumberInput, #usernameInput, #amountSelect {
  height: 25px;
}

#comments {
  height: 80px;
}

.horizontal-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 10px;
  color: white;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .horizontal-title {
    font-size: 14px;
  }
}

.social-media-icon {
  width: 50px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .social-media-icon {
    width: 35px;
  }
}

#order-form {
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 0px 15px;
}
#order-form .order-form-inputs {
  height: 90vh;
  margin-top: 20px;
  padding: 0px 70px;
}
@media screen and (max-width: 768px) {
  #order-form .order-form-inputs {
    padding: 0px 10px;
  }
}

#order-form > div > div > div > .slick-slide {
  height: 90vh !important;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #order-form > div > div > div > .slick-slide {
    overflow: auto;
  }
}

#order-form img {
  max-height: 90vh !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}/*# sourceMappingURL=main.css.map */